<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATM Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>

<body>
    <div class="container">
        <h1>Welcome to Our ATM</h1>
        <form action="/" method="post" class="atm-form">
            <label for="account_number">Account Number:</label><br>
            <input type="text" id="account_number" name="account_number" required><br><br>
            <label for="pin">PIN:</label><br>
            <input type="password" id="pin" name="pin" required><br><br>
            <button type="submit" class="atm-button">Login</button>
        </form>
        <div>
          <p>Accounts: 1001 Pin: 1234 Balance: 1000</p>
          <p>Accounts: 1002 Pin: 5678 Balance: 2000</p>
          <p>Accounts: 1003 Pin: 9012 Balance: 500</p>
        </div>
        {% if message %}
        <p class="error-message">{{ message }}</p>
        {% endif %}
    </div>
</body>

</html>
